.bundle
*.kpf
config/mongoid.yml
config/initializers/exception_notifier.rb
config/initializers/recaptcha.rb
config/initializers/secret_token.rb
db/*.sqlite3
log/*.log
doc/app/
tmp/
public/javascripts/icanhazblog.js
public/javascripts/tracking_code.js
public/stylesheets/*.css
