
$light-gray: #F3F2ED;
$dark-gray: #CCC8B3;

$gray-border: 1pxx gray solid;

html,body {
    margin:0;
    padding:0;
}

body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: small;
    text-align: left;
}

p {
    margin:0 10px 10px;
}


a {
    color: #483d8b;
}

div#header{
    background-color: $light-gray;
    border-bottom: $gray-border;
    height:100px;

    margin:0;
    padding:0;
}

div#header h1 {
    margin:0;
    padding-top:10px;
    padding-left:10px;

    font-size: xx-large;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 2px;
}

#header a {
    color: silver;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

div#header h2 {
    margin:0;
    padding-top:5px;
    padding-left:10px;

    font-size: large;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;
    color: gray;
}

div#container{
    width: 800px;
    margin: 0 auto;
    background: $light-gray;
}

div#content{
    float:left;
    width: 580px;

    p { line-height:1.4; }
}

/* footer */

div#footer{
    clear: both;
    width: 100%;
    background-color: $light-gray;
    color: gray;
    text-align: right;
    border-top: $gray-border;

    p { margin:0; padding:5px 10px; }
}


/* navigation */

div#navigation{
    margin: 1em 10px 1em 0;
    float:right;
    width:200px;

    .title {
        margin: 0;
        padding: 3px 5px;
        background-color: gray;
        color: $light-gray;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .content{
        padding: 10px 5px;
    }

    .content_list{
        padding: 5px 5px;
    }

    ul{
        margin: 0;
        padding: 5px 0px 0px;
        list-style-type: none;
    }

    li{
        margin-bottom:5px;
    }
    
    p{
        padding: 0;
        margin: 0;
    }
}

div#recent_articles_menu{
    border: $gray-border;
    background: $dark-gray;
    float:right;
    clear:right;
    width: 100%;
}

div#tags_menu{
    border: $gray-border;
    background:$dark-gray;
    float:right;
    clear:right;
    width: 100%;
}

div#date_range_menu{
    border: $gray-border;
    background:$dark-gray;
    float:right;
    clear:right;
    width: 100%;
}

div#twitter_stream_box {
    background:$dark-gray;
    float:right;
    clear:right;
    width:200px;
}

div.menu_separator {
    background: $light-gray;
    float:right;
    clear:right;
    width:200px;
    margin-bottom: 0,5em;
}

/* articles */


div.article_box {
    background: #fff;
    margin: 1em;
    padding: 1em;
    border: 1px silver dashed;
}

div.article_published_at {
    color: silver;
    font-size: larger;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;
    color: #bbb;
    margin-bottom: 0.5em;
}


div.article_title {
    font-size: x-large;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;
    color: gray;

    a {
        color: gray;
        text-decoration: none;

        &:hover { text-decoration: underline; }
    }
}

.article_footer {
    border: 1px gray dashed;
    width: auto;
    padding: 5px 10px;
}

.tags .title {
    font-weight: bold;
}

a.nobr {
    white-space: nowrap;
}

#article_box .tags .title {
    font-weight: bold;
}


div#article_comments {
    margin-top: 1em;
    margin-bottom: 1em;

    .section_title {
        font-size: larger;
        font-weight: normal;
        font-variant: normal;
        font-family: Impact, sans-serif;
        letter-spacing: 1px;
        color: gray;
        margin-bottom: 0.5em;
    }
}


div.comment {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px silver solid;
    
    .header {
        width: auto;
        background: #eee;
        padding: 0.3em 0.5em 0.3em ;
        border-bottom: 1px silver solid;
    }


    .title {
        font-weight: bold;
    }

    .author .info {
        font-weight: bold;
    }


    .author .published_at {
        font-style: italic;
    }


    .content {
        padding: 0.3em;
    }
}

.article_action {
    margin-right: 0.2em;
}

.article_content p {
    padding: 0 0 0 0;
    margin: 1em 0 1em;
}

#article_new_comment {
    border: 1px silver solid;
    padding: 10px 10px;
}

.section_title {
    font-size: larger;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
    color: gray;
    margin-bottom: 0.5em;

    
}

.inline_code {
    font-style: italic;
    letter-spacing: 1px;
}

/* navigation */

div#navigation{
    margin: 1em 10px 1em 0;
    float:right;
    width:200px;

    .title {
        margin: 0;
        padding: 3px 5px;
        background-color: gray;
        color: $light-gray;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .content{
        padding: 10px 5px;
    }

    .content_list{
        padding: 5px 5px;
    }

    ul{
        margin: 0;
        padding: 5px 0px 0px;
        list-style-type: none;
    }

    li{
        margin-bottom:5px;
    }
    
    p{
        padding: 0;
        margin: 0;
    }
}

div#recent_articles_menu{
    border: $gray-border;
    background: $dark-gray;
    float:right;
    clear:right;
    width: 100%;
}

div#tags_menu{
    border: $gray-border;
    background:$dark-gray;
    float:right;
    clear:right;
    width: 100%;
}

div#date_range_menu{
    border: $gray-border;
    background:$dark-gray;
    float:right;
    clear:right;
    width: 100%;
}

div#twitter_stream_box {
    background:$dark-gray;
    float:right;
    clear:right;
    width:200px;
}

div.menu_separator {
    background: $light-gray;
    float:right;
    clear:right;
    width:200px;
    margin-bottom: 0,5em;
}

/* articles */


div.article_box {
    background: #fff;
    margin: 1em;
    padding: 1em;
    border: 1px silver dashed;
}

div.article_published_at {
    color: silver;
    font-size: larger;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;
    color: #bbb;
    margin-bottom: 0.5em;
}


div.article_title {
    font-size: x-large;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;
    color: gray;

    a {
        color: gray;
        text-decoration: none;

        &:hover { text-decoration: underline; }
    }
}

.article_footer {
    border: 1px gray dashed;
    width: auto;
    padding: 5px 10px;
}

.tags .title {
    font-weight: bold;
}

a.nobr {
    white-space: nowrap;
}

#article_box .tags .title {
    font-weight: bold;
}

div#article_comments {
    margin-top: 1em;
    margin-bottom: 1em;

    .section_title {
        font-size: larger;
        font-weight: normal;
        font-variant: normal;
        font-family: Impact, sans-serif;
        letter-spacing: 1px;
        color: gray;
        margin-bottom: 0.5em;
    }
}

div.comment {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px silver solid;
    
    .header {
        width: auto;
        background: #eee;
        padding: 0.3em 0.5em 0.3em ;
        border-bottom: 1px silver solid;
    }

    .title {
        font-weight: bold;
    }

    .author .info {
        font-weight: bold;
    }

    .author .published_at {
        font-style: italic;
    }

    .content {
        padding: 0.3em;
    }
}

.article_action {
    margin-right: 0.2em;
}

.article_actions td {
    margin: 0;
    padding: 0;
}

.article_box_footer {
    margin-bottom: 1.5em;
}

.article_content p {
    padding: 0 0 0 0;
    margin: 1em 0 1em;
}

#article_new_comment {
    border: 1px silver solid;
    padding: 10px 10px;
}

.section_title {
    font-size: larger;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
    color: gray;
    margin-bottom: 0.5em;
}

.inline_code {
    font-style: italic;
    letter-spacing: 1px;
}

.flash {
    text-align: center;
    font-size: larger;
    font-weight: bold;

    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;

    &#alert {
        color: darkred;
        background-color: red;
        border-bottom: 2px darkred solid;
    }
    
    &#notice {
        color: darkgreen;
        background-color: lightgreen;
        border-bottom: 2px darkgreen solid;
    }
}

@import "coderay";
