
/* navigation */

div#tags_menu{
    background:#F3F2ED;
    float:right;
    clear:right;
    width:200px
}

div#date_range_menu{
    background:#CCC8B3;
    float:right;
    clear:right;
    width:200px
}

div#twitter_stream_box {
    background:#CCC8B3;
    float:right;
    clear:right;
    width:200px
}

/* articles */

div.article_box {
    background: #fff;
    margin: 1em;
    padding: 1em;
    border: 1px silver dashed;
}

div .article_published_at {
    color: silver;
    font-size: larger;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;
    color: #bbb;
    margin-bottom: 0.5em;
}

div .article_title {
    font-size: x-large;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;
    color: gray;
}

.article_title a {
    color: gray;
    text-decoration: none;
}

.article_title a:hover {
    text-decoration: underline;
}

.article_footer {
    border: 1px gray dashed;
    width: auto;
    padding: 5px 10px;
}
 

div#article_comments {
    margin: 1em;
    padding: 0.5em;
    border: 1px gray dashed;
    background: #eee;
}

div.comment_box {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.comment_title {
    font-weight: bold;
    padding: 0.3em;
}

div.comment_content {
    padding: 0.3em;
}

span.comment_published_at {
    float: right;
    font-weight: normal;
    font-style: italic;
}

.article_action {
    margin-right: 0.2em;
}

.article_content p {
    /* top right bottom left */
    padding: 0 0 0 0;
    /* top right,left bottom */
    margin: 1em 0 1em;
}
