
/* navigation */

div#navigation{
    margin: 1em 10px 1em 0;
    float:right;
    width:200px
}

#navigation .title {
    margin: 0;
    padding: 3px 5px;
    background-color: gray;
    color: #F3F2ED;
    font-weight: bold;
    letter-spacing: 1px;
}

div#navigation .content{
    padding: 10px 5px;
}

div#navigation .content_list{
    padding: 5px 5px;
}


div#navigation ul{
    margin: 0;
    padding: 5px 0px 0px;
    list-style-type: none;
}

div#navigation li{
    margin-bottom:5px;
}

div#navigation p{
    padding: 0;
    margin: 0;
}

div#recent_articles_menu{
    border: 1px gray solid;
    background: #CCC8B3;
    float:right;
    clear:right;
    width: 100%;
}

div#tags_menu{
    border: 1px gray solid;
    background:#CCC8B3;
    float:right;
    clear:right;
    width: 100%;
}

div#date_range_menu{
    border: 1px gray solid;
    background:#CCC8B3;
    float:right;
    clear:right;
    width: 100%;
}

div#twitter_stream_box {
    background:#CCC8B3;
    float:right;
    clear:right;
    width:200px;
}

div.menu_separator {
    background: #F3F2ED;
    float:right;
    clear:right;
    width:200px;
    margin-bottom: 0,5em;
}

/* articles */

div.article_box {
    background: #fff;
    margin: 1em;
    padding: 1em;
    border: 1px silver dashed;
}

div .article_published_at {
    color: silver;
    font-size: larger;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;
    color: #bbb;
    margin-bottom: 0.5em;
}

div .article_title {
    font-size: x-large;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;
    color: gray;
}

.article_title a {
    color: gray;
    text-decoration: none;
}

.article_title a:hover {
    text-decoration: underline;
}

.article_footer {
    border: 1px gray dashed;
    width: auto;
    padding: 5px 10px;
}

.tags .title {
    font-weight: bold;
}

a.nobr {
    white-space: nowrap;
}

#article_box .tags .title {
    font-weight: bold;
}

div#article_comments {
    margin-top: 1em;
    margin-bottom: 1em;
}

#article_comments .section_title {
    font-size: larger;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
    color: gray;
    margin-bottom: 0.5em;
}


div.comment {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: 1px silver solid;
}

div.comment .header {
    width: auto;
    background: #eee;
    padding: 0.3em 0.5em 0.3em ;
    border-bottom: 1px silver solid;
}

div.comment .title {
    font-weight: bold;
}

div.comment .author .info {
    font-weight: bold;
}

div.comment .author .published_at {
    font-style: italic;
}

div.comment .content {
    padding: 0.3em;
}

.article_action {
    margin-right: 0.2em;
}

.article_content p {
    /* top right bottom left */
    padding: 0 0 0 0;
    /* top right,left bottom */
    margin: 1em 0 1em;
}

#article_new_comment {
    border: 1px silver solid;
    padding: 10px 10px;
}

#article_new_comment .section_title {
    font-size: larger;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
    color: gray;
    margin-bottom: 0.5em;

    
}
