html,body {
    margin:0;
    padding:0;
}

body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: small;
    text-align: left
}

p {
    margin:0 10px 10px
}


a {
    color: #483d8b;
}

div#header{
    background-color: #F3F2ED;
    border-bottom: 1px gray solid;
    height:100px;
    /* line-height:80px; */

    margin:0;
    padding:0;
}

div#header h1 {
    margin:0;
    padding-top:10px;
    padding-left:10px;

    font-size: xx-large;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 2px;
}

#header a {
    color: silver;
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
}

div#header h2 {
    margin:0;
    padding-top:5px;
    padding-left:10px;

    font-size: large;
    font-weight: normal;
    font-variant: normal;
    font-family: Impact, sans-serif;
    letter-spacing: 1.5px;
    color: gray;
}

div#container{
    width:800px;
    margin:0 auto;
    background:#F3F2ED;
}

div#content{
    float:left;
    width: 580px;
}

div#content p {
    line-height:1.4;
}

div#navigation{
    background: #CCC8B3;
}

div#navigation ul{
    margin: 15px 0;
    padding:0;
    list-style-type:none;
}

div#navigation li{
    margin-bottom:5px;
}

div#navigation{
    float:right;
    width:200px
}

div#footer{
    clear: both;
    width: 100%;
    background-color: #F3F2ED;
    color: gray;
    text-align: right;
    border-top: 1px gray solid;
}

div#footer p{
    margin:0;
    padding:5px 10px;
}
