
#date_range_menu
  .title Date Range

  .content
    = link_to("this month", yyyy_mm_articles_path( :year => Date.current.year,
      :month => sprintf("%02d", Date.current.month) )) + "," 
    = link_to("last month", yyyy_mm_articles_path( :year => 1.month.ago.year,
      :month => sprintf("%02d", 1.month.ago.month) ))
