
#date_range_menu
  .title Date Range

  .content
    = search_link_to("this month", { :year => Date.current.year, :month => sprintf("%02d", Date.current.month) }) + "," 
    = search_link_to("last month", { :year => 1.month.ago.year, :month => sprintf("%02d", 1.month.ago.month) })
