
#recent_articles_menu
    .title Recent Articles
    
    .content_list
        %ul
            - Article.recent.each do |article|
                %li= link_to_article(article, :title => article.title.truncate(30))
