
#twitter_stream_box
  :javascript
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 5,
      interval: 6000,
      width: 200,
      height: 300,
      theme: {
        shell: {
          background: '#eeeeee',
          color: '#000000'
        },
        tweets: {
          background: '#555555',
          color: '#eeeeee',
          links: '#eeab00'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('lstejskal').start();
